<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/publico/css/albumcss.css">
  <link rel="stylesheet" href="/bscss/bootstrap.min.css">

  <script src="/jquery/jquery.js"></script>
  <script src="/bsjs/bootstrap.min.js"></script>
  <script src="/popperjs/popper.min.js"></script>
  <script src="/publico/js/form-album.js"></script>
  <script src="/publico/js/form-validation.js"></script>

  <title>Album Digital</title>
</head>

<body>
  <div id="header"></div>
  <div class="container d-flex flex-column col-md-6">

    <div class="container">
      <h2>Álbum Digital</h2>
    </div>

    <form id="dataForm" name="dataForm" action="/album-digital" method="POST" onsubmit="return validarFormulario()">
      <div class="form-album">
        <div class="div-tab" id="dados-pessoais">
          <div class="tab-content">

            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" required>
              <span class='msg-erro msg-nome'></span>
            </div>

              <div class="mb-3">
                <label for="data" class="form-label">Data de nascimento</label>
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
                <span class='msg-erro msg-dataNascimento'></span>
                <br>
                
              </div>

              <div class="mb-3">
                <div class="div-maior" id="div-maior">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf">
                <span class='msg-erro msg-cpf'></span>
                </div>
              </div>

            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" name="email" required>
              <span class='msg-erro msg-email'></span>
            </div>

            <div class="row">

              <div class="col">
                <label for="cpf" class="form-label">Telefone / Whatsapp</label>
                <input type="phone" class="form-control" id="telefone" name="telefone" required>
                <span class='msg-erro msg-telefone'></span>
              </div>

              <div class="col">
                <label for="estado" class="form-label">Estado</label>
                <select name="estado" id="estado" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                  <option value="" selected></option>
                  <option value="ms">MS</option>
                </select>
                <span class='msg-erro msg-estado'></span>
              </div>

            </div>

            <div class="mb-3">
              <label for="cidade" class="form-label">Cidade</label>
              <select name="cidade" id="cidade" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option value="" selected></option>
                <option value="CG">Campo Grande</option>
                <option value="AQ">Aquidauana</option>
                <option value="TL">Três Lagoas</option>
                <option value="JD">Jardim</option>
                <option value="NA">Nova Andradina</option>
              </select>
              <span class='msg-erro msg-cidade'></span>
              <br>
            </div>

            <div class="div-resp" id="div-resp">
              <h5>Para menores de idade:</h5>
              <div class="mb-3" id="div-nome-responsavel">
                <label for="nomeresp" class="form-label">Nome do responsavél:</label>
                <input type="text" class="form-control" id="nomeresp" name="nomeresp" >
                <span class='msg-erro msg-nomeresp'></span>
              </div>

              <div class="mb-3" id="div-cpf-responsavel">
                <label for="cpfresp" class="form-label">CPF do responsavél</label>
                <input type="text" class="form-control" id="cpfresp" name="cpfresp" >
                <span class='msg-erro msg-cpfresp'></span>
              </div>
            </div>
            <br>

            <hr>

          </div>
        </div>

        <div class="div-tab" id="autorizacao">

          <div class="mb-3">
            <label for="obj" class="form-label">Objetivos</label>
            <div class="form-floating">
              <textarea class="form-control texto" placeholder="Leave a comment here" id="obj" name="obj"
                style="height: 100px" disabled>
                  O projeto tem como objetivo visibilizar a beleza a cultura e a ancestralidade negra existentes no Mato Grosso do Sul, historicamente apagados e fora dos padrões estéticos eurocêntricos.
                  Oportunizará assim, as discussões étnico-raciais capazes de qualificar e encorajar as professoras e professores a trabalharem com a problemática da população negra, em sala de aula, na tentativa de   	diminuir o arranjo da desigualdade existente no país.
                Para isso, a partir das fotografias selecionadas para a mostra fotográfica, irá se elaborar um álbum de fotografias que ao ser finalizado, será direcionado para escolas públicas, com a intenção de 	contribuir com o debate da Lei 10.639/03 que determina o ensino de História e Cultura Afro-brasileira nas escolas.
          </textarea>
            </div>
          </div>

          <div class="mb-3">
            <label for="reg" class="form-label">Regras</label>
            <div class="form-floating">
              <textarea class="form-control texto" placeholder="Leave a comment here" id="reg" name="reg"
                style="height: 100px" disabled>
              - Cada pessoa poderá participar com uma fotografia
              - A fotografia deve ser no formato digital JPG/JPEG
              - A fotografia poderá ser colorida ou preta e branco
              - A técnica para criação é livre mas precisa seguir o tema Beleza Negra Resiste
              - Cada pessoa só poderá ser premiada uma única vez
              - As fotografias serão selecionadas por um júri composto de pessoas pretas, que julgará a beleza negra a partir dos elementos que permitirão evidenciar as conexões com as raízes negras, com a ancestralidade negra, com a diáspora negra, com as pequenas Áfricas que existem em cada pessoa negra que vive em Mato Grosso do Sul
              Toda fotografia deve ser encaminhada com a autorização de uso de imagem. A UFMS e o IFMS reservam para si, desde já, o direito incontestável de reproduzir as fotografias inscritas em seu material institucional a qualquer momento e por tempo indeterminado, dando os devidos créditos ao fotógrafo.
          </textarea>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <label for="titulo" class="form-label">Titulo da foto</label>
              <input type="text" class="form-control" id="titulo" name="titulo" required>
              <span class='msg-erro msg-titulo'></span>
            </div>

            <div class="col">
              <label for="nome-fotogra" class="form-label">Nome do(a) Fotográfo(a):</label>
              <input type="text" class="form-control" id="nomeFotogra" name="nomeFotogra" required >
              <span class='msg-erro msg-nomeFotogra'></span>
            </div>

          </div>

          <div class="mb-3">
            <label for="foto" class="form-label">Foto</label>
            <input class="form-control" type="file" id="foto" name="foto" required>
            <span class='msg-erro msg-foto'></span>
          </div>

          <div class="row">

            <div class="col">
              <input class="form-check-input" type="checkbox" value="" id="termo" required>
              <label class="form-check-label" for="termo">
                Li o termo e autorizo o uso da minha imagem
              </label>
              <span class='msg-erro msg-termo'></span>
            </div>

            <div class="col-md-9">
              <textarea class="form-control texto" id="termo" name="termo" style="height: 100px" disabled>
                AUTORIZAÇÃO DE USO DE IMAGEM 
            Autorizo a Universidade Federal do Mato Grosso do Sul e o Instituto Federal do Mato Grosso do Sul, bem como a/o fotógrafa/o a utilizarem a minha imagem para fins de participação na mostra fotográfica "Beleza Negra Resiste". Poderão utilizá-la na divulgação de materiais impressos, audiovisuais e eletrônicos, sem fins lucrativos e também poderá ser utilizada por tempo indeterminado. Fica assim autorizada, de livre e espontânea vontade, para os mesmos fins a cessão de direitos de veiculação, não recebendo para tanto qualquer tipo de remuneração. 
            Por meio desta autorização, eu libero a UFMS e o IFMS, acima citados, seus representantes legais ou fornecedores, de futuros processos e queixas por violação de privacidade ou de direito de propriedade que eu poderia ter em relação a tal produção.  
            Ao marcar o aceite da leitura do termo e autorização da imagem, concordo com as regras e autorização dispostas nesta página. 
           </textarea>
            </div>
          </div>
          <br>

          <div class="container d-flex justify-content-around div-botao">
            <button type="submit" class="btn btn-primary" onclick="validarFormulario()">Enviar</button>
          </div>
        </div>
      </div>
  </div>
  </form>
  </div>
  <form id="fileForm" action="/uploadFoto" method="POST" enctype="multipart/form-data" style="visibility: hidden;">
    <input type='submit' />
  </form>
  <div id="footer"></div>
  
</body>

</html>